.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  color: black;
background-image: linear-gradient(30deg,#fcfced,#fcedfc 48%,#ebf6ff);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem;

  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
 color: black;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  margin-top: 10px;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}
.card{
  width: 800;
                    background-Color: "yellow";
                    align-Items: 'center';
                    display: "flex";
                    box-Sizing: 'border-box';
                    margin: 0 10px;
                    box-sizing: content-box;
}
.inline{
  display: flex;
  justify-content: left;
  margin: 0 10px;
  width:35em;
}

.item{
  width:35em;
}
/* 
style={{
  width: 900,
  backgroundColor: "yellow",
  alignItems: 'center',
  display: "flex",
  boxSizing: 'border-box',

}} */